__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore temporary uploaded files
uploads/

# Ignore virtual environments
env/
venv/

# Ignore git repo
.git/
.gitignore

# Ignore media files (optional)
*.jpg
*.jpeg
*.png
*.mp4

# Ignore MacOS metadata
.DS_Store

# Ignore audio files created at runtime
static/audio/*.mp3

# Ignore test files and local dev files
test_voice.mp3
docker-compose.yml
